manifest {
  author = "Abdel Goumaidi, Julien Fouret"
  version = "1.0.0"
  defaultBranch = "main"
  name = "rna-preprocessing"
  description = "Estimate the expression level of features (genes or transcripts) and perform the associated QC. Starting from cleaned reads and one pre-built reference database in standard format "
  homePage = "https://github.com/nexomis/rna-preprocessing"
  mainScript = "main.nf"
  nextflowVersion = ">=24.10.3"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output parameters
  out_dir = null
  input = null

  // Mandatory parameters (the names should correspond to the ones given on the main workflow)
  kallisto_idx = null // Path to Kallisto index metadata file
  kraken2_db = null

  // Default parameters
  skip_primary = false
  save_fastp = false
  num_reads_sample_qc = 500000
  tax_dir = "${projectDir}/modules/subworkflows/primary/taxdump_26092024"

  // Options for fastp
  trim_poly_g = true
  trim_poly_x = true
  min_avg_qual = 28
  min_len = 41
  cut_right_window_size = 4
  cut_right_mean_qual = 20
  cut_tail_window_size = 4
  cut_tail_mean_qual = 25

  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
  mem_low = 15
  mem_med = 30
  mem_high = 60
  kraken2_memory = 10
}

outputDir = "${params.out_dir}"

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
includeConfig "conf/ext.config"
includeConfig "conf/resources.config"
