manifest {
  author = "Abdel Goumaidi"
  version = "1.0.0"
  defaultBranch = "main"
  name = "rna-preprocessing"
  description = "Estimate the expression level of features (genes or transcripts) and perform the associated QC. Starting from cleaned reads and one pre-built reference database in standard format "
  homePage = "https://github.com/nexomis/rna-preprocessing"
  mainScript = "main.nf"
  nextflowVersion = ">=23.10.0"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output options
  out_dir = "./out_dir"
  publish_dir_mode = "link"
  save_fastp = false
  skip_primary = false
  input = null

  // Mandatory parameters (the names should correspond to the ones given on the main workflow)
  kallisto_idx = null

  //Default parameters

  // fastp options

  trim_poly_g = true
  trim_poly_x = true
  min_avg_qual = 28
  min_len = 41
  cut_right_window_size = 4
  cut_right_mean_qual = 20
  cut_tail_window_size = 4
  cut_tail_mean_qual = 25

  // kraken2 options

  kraken2_db = null

  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
  kraken2_memory = 10
  
}

timestamp = new Date().format("yyyy-MM-dd_HH'h'mm'm'ss's'")

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "conf/publish.conf"
includeConfig "conf/ext.conf"
includeConfig "modules/config/dag.config"
includeConfig "modules/config/report.config"
includeConfig "conf/resources.conf"
