manifest {
  author = "Abdel Goumaidi"
  version = "1.0.0"
  defaultBranch = "main"
  name = "DE-Preprocessing"
  description = "Estimate the expression level of features (genes or transcripts) and perform the associated QC. Starting from cleaned reads and one pre-built reference database in standard format "
  homePage = "https://github.com/nexomis/DE-Preprocessing"
  mainScript = "main.nf"
  nextflowVersion = ">=23.10.0"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output options
  out_dir = "./out_dir"
  publish_dir_mode = "link"
  input_dir = null

  // Mandatory parameters (the names should correspond to the ones given on the main workflow)
  kallisto_idx = null

  //Default parameters


  // Options for external arguments
  kallisto_quant_other = ""

  // Options relative to prox y

  // Resource options (the names must be conserved cf. modules/config/process/labels.config)
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "conf/publish.conf"
includeConfig "conf/ext.conf"

