

process {
    withName: "SEQTK_SAMPLE" {
      ext.num_reads = params.num_reads_sample_qc
    }
}

cutadapt_args = params.enforce_nextseq_trim ? "--nextseq-trim " : "-q "
cutadapt_args += params.min_qual
cutadapt_args += " -m " + params.min_len
cutadapt_args += params.adapter_r1 != "" ? " -a " + params.adapter_r1 : ""
cutadapt_args += params.adapter_r2 != "" ? " -A " + params.adapter_r2 : ""

process {
    withName: "CUTADAPT" {
      ext.args = cutadapt_args
    }
}
